.order-form {
  padding: 5px;
}
.suppliers-card {
  border: 10px solid #860f0f;
  border-radius: 9px;
  background-color: white;
  width: 100%;
}

.suppliers-card-header {
  background-color: #1e2023;
  color: white;
}

.hundred-percent-background{
  background-color: #1e2023;
  height: 100%;
}

.fit-content-background{
  background-color: #1e2023;
  height: fit-content;
}
