<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" (click)="goHome()">
      <ion-icon name="arrow-back" large></ion-icon>
    </ion-buttons>
    <ion-title>Quick Order</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<!--<div [ngClass]="isStrech? 'fit-content-background' : 'hundred-percent-background'">-->
  <form class="order-form" [formGroup]="orderForm" (ngSubmit)="onOrder()">

    <!--supplier-->
    <ion-item>
      <ion-label>Supplier</ion-label>
      <ion-select name="supplier" formControlName="supplier">
        <ion-select-option *ngFor="let supplier of suppliers" value="{{supplier.supplierId}}">{{supplier.supplierName}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div text-center *ngIf="orderForm.controls.supplier.invalid && (submitted || orderForm.controls.supplier.dirty || orderForm.controls.supplier.touched)">
      <ion-label color="danger">Please select supplier</ion-label>
    </div>

    <!--item-->
    <ion-item>
      <ion-label>Item</ion-label>
      <ion-select name="item" formControlName="item">
        <div *ngFor="let supplier of getSuppliers()">
          <ion-select-option *ngFor="let item of supplier.items" value="{{item.itemId}}">{{item.itemName}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <div text-center *ngIf="orderForm.controls.supplier.invalid && (submitted || orderForm.controls.supplier.dirty || orderForm.controls.supplier.touched)">
      <ion-label color="danger">Please select supplier</ion-label>
    </div>

    <!--quantity-->
    <ion-item>
      <ion-label>Quantity</ion-label>
      <ion-input class="form-control" type="number" formControlName="quantity"  placeholder="Enter Quantity" required></ion-input>
    </ion-item>
    <div text-center *ngIf="orderForm.controls.quantity.invalid && (submitted || orderForm.controls.quantity.dirty || orderForm.controls.quantity.touched)">
      <ion-label color="danger">Please Enter Quantity</ion-label>
    </div>
    <div text-end>
      <ion-button color="danger"  type="submit">Confirm</ion-button>
    </div>
  </form>


    <ion-grid>
      <div *ngFor="let supplier of getSuppliers()">
        <ion-row>
          <ion-col size="12">
              <ion-card style="border-radius: 15px;">
                <ion-item color="dark">
                  <ion-icon color="danger" name="barcode" slot="start"></ion-icon>
                  <ion-label style="font-size: 18px;" color="light">{{supplier.supplierName}}</ion-label>
                </ion-item>
                <ion-card-content *ngFor="let item of supplier.items">
                  <ion-label style="font-size: 18px;" color="danger">{{item.itemName}}&nbsp;&nbsp;&nbsp;<span>{{item.price}}.00</span></ion-label>
                </ion-card-content>
              </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
</ion-content>
