<script src="../../../../../../csse_site_manager/src/app/stocks/stocks-content/stocks-content.page.ts"></script>
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" (click)="goHome()">
      <ion-icon name="arrow-back" large></ion-icon>
    </ion-buttons>
    <ion-title>Stocks</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngIf="stocks">
      <ion-item>
        <ion-icon name="information-circle" slot="start" [color]="stocks.isCritical? 'danger':'primary'"></ion-icon>
        <ion-label *ngIf="stocks.isCritical">Details&nbsp;&nbsp;<ion-badge color="danger">CRITICAL</ion-badge></ion-label>
        <ion-label *ngIf="!stocks.isCritical">Details&nbsp;&nbsp;<ion-badge color="primary">NOT CRITICAL</ion-badge></ion-label>
        <ion-button fill="outline" slot="end" (click)="order()">Order</ion-button>
      </ion-item>
      <ion-card-content>
        <p>1 {{stocks.itemMetric}} of {{stocks.itemType}} : {{stocks.itemPrice}}</p>
        <h3><ion-badge color="primary">{{stocks.itemQuantity}} <small>{{stocks.itemMetric}}</small> Available.</ion-badge></h3>
        <h3><ion-badge color="warning">CRITICAL LEVEL : {{stocks.criticalLevel}} <small>{{stocks.itemMetric}}</small></ion-badge></h3>
        <ion-progress-bar [buffer]="calculateRemaining(stocks.itemQuantity, stocks.criticalLevel)" [color]="stocks.isCritical? 'danger': 'warning'" [value]="calculateRemaining(stocks.itemQuantity, stocks.criticalLevel)"></ion-progress-bar>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="isOrder">
      <form [formGroup]="orderForm" (ngSubmit)="onOrder()">

        <!--supplier-->
        <ion-item>
          <ion-label>Supplier</ion-label>
          <ion-select name="supplier" formControlName="supplier">
            <ion-select-option *ngFor="let supplier of suppliers" value="{{supplier.supplierId}}">{{supplier.supplierName}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div text-center *ngIf="orderForm.controls.supplier.invalid && (submitted || orderForm.controls.supplier.dirty || orderForm.controls.supplier.touched)">
          <ion-label color="danger">Please select suppler</ion-label>
        </div>

        <!--quantity-->
        <ion-item>
          <ion-label>Quantity</ion-label>
          <ion-input class="form-control" type="number" formControlName="quantity"  placeholder="Enter Quantity" required></ion-input>
        </ion-item>
        <div text-center *ngIf="orderForm.controls.quantity.invalid && (submitted || orderForm.controls.quantity.dirty || orderForm.controls.quantity.touched)">
          <ion-label color="danger">Please Enter Quantity</ion-label>
        </div>

        <ion-button type="submit">Confirm</ion-button>
      </form>
    </ion-card>

</ion-content>
